body {
  margin: 0;
  background: #555;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.digiImg {
  display: flex;
}

.mg1,
.mg2,
.mg3,
.mg4,
.mg5,
.mg6,
.mg7,
.mg8,
.mg9,
.mg0 {
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
}

#myPicAll {  
  border: 1px solid black;
  width: 1050px;
  height: 100px;
  background: url('./imges/num2.png');
}

#myPic0 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
}

#myPic1 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -100px;
}

#myPic2 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -200px;
}

#myPic3 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -300px;
}

#myPic4 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -400px;
}

#myPic5 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -500px;
}

#myPic6 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -600px;
}

#myPic7 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -700px;
}

#myPic8 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -800px;
}

#myPic9 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -900px;
}

#myPicRight {  
  border: 1px solid black;
  width: 50px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: right;
}

.mgd {
  width: 50px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: right;
}

.mg1 {
  background-position: -100px;
}

.mg2 {
  background-position: -200px;
}

.mg3 {
  background-position: -300px;
}

.mg4 {
  background-position: -400px;
}

.mg5 {
  background-position: -500px;
}

.mg0 {
  background-position: 0px;
}

.mg9 {
  background-position: 150px;
}

.mg8 {
  background-position: 250px;
}

.mg7 {
  background-position: 350px;
}

.mg6 {
  background-position: 450px;
}